<!--Main Navigation-->
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar">
      <a class="navbar-brand" style='padding: 0px 0px 0px 10px'href="#"><strong>VETd</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/login']">Login <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/logout']">Logout <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/profile']">Profile <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/about']">About <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/contact']">Contact <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/admin']">Admin <span class="sr-only"></span></a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </nav>

  </header>
  <!--Main Navigation-->
