/* @media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}*/
#nav{
  z-index: 1;
  background-color: rgb(62, 67, 73);
  color: black;
}
/*
html,
body,
header,
.view {
height: 100%;
} */

