<div id='nav'>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">VETd</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/login']" *ngIf="!isLoggedIn()">Login <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/logout']" *ngIf="isLoggedIn()">Logout <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/profile']" *ngIf="isLoggedIn()">Profile <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href='#about'>About <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/contact']">Contact <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/admin']">Admin <span class="sr-only"></span></a>
      </li>

      <!-- Dropdown -->


    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
</div>
<!--/.Navbar-->
