<div class="container-fluid background">
  <div class="row ">
    <div class="col-sm-1 col-md-3 col-lg-4"></div>
    <div class="card col-sm-10 col-md-6 col-lg-4">
      <div class="card-header text-center">
        <h1 class="h1 mb-4">Admin</h1>
      </div>
      <div class="card-body">
        <form>
          <input
            class="form-control mb-4 text-center"
            type="text"
            name="username"
            placeholder="Search Users By Username"
            [(ngModel)]="keyword"
          />
          <button
            mdbBtn
            color="info"
            block="true"
            class="my-4 text-center btn btn-warning button"
            type="submit"
            (click)="searchUsers()"
          >
            Submit
          </button>
        </form>
        <!-- <form #searchChatForm action="">
          <input
            class="form-control mb-4 text-center"
            type="text"
            name="keyword"
            placeholder="Search Chatrooms By Id"
            ngModel
          />
          <button
            mdbBtn
            color="info"
            block="true"
            class="my-4 text-center btn btn-warning button button2"
            type="submit"
            (click)="searchChatrooms(searchChatForm)"
          >
            Submit
          </button>
        </form> -->
      </div>
      <div>
        <div class="text-left" *ngFor="let user of users">
          <p>
            {{ user.username }}
            <button
              mdbBtn
              color="info"
              block="true"
              class="my-4 btn btn-sm btn-warning button float-right"
              type="Go to Profile"
              (click)="gotoProfile()"
            >
              Submit
            </button>
          </p>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-sm-1 col-md-3 col-lg-4"></div>
  </div>
</div>
