.card {
  padding: 20px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.6);
}

.row {
  padding: 60px;
}

.container-fluid {
  width: 100%;
  padding-right: none;
  padding-left: none;
  margin-right: 0px;
  margin-left: 0px;
}

div {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-header {
  padding-top: 35px;
  align-content: center;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.3);
}

.button {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

li {
  color: white;
  list-style: none;
  font-size: 30px;
  align-content: center;
}

hr {
  color: black;
  border: 1px solid white;
}

p {
  font-size: 20px;
}

/* .button2 {
  margin-bottom: 0px !important;
} */
