#menteeProfile {
  min-height: 200px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#menteeStory {
  min-height: 250px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#menteeStatus {
  min-height: 200px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#menteeInteractions {
  min-height: 200px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#menteeChat {
  min-height: 500px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}
