#profileJobsCard {
  height: 600px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

.card-footer {
  overflow: scroll;
}

#scrollCard {
  overflow: scroll;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#delete:hover {
  color: red;
}

#add:hover{
  color: green;
}

#viewProfile:hover {
  color: blue;
}
#footerHeight {
  min-height: 60px;
  max-height: 80px;
}

#profilePic {

  height: 200px;
  border-radius: 100%;
}

#menteeProfile {
  height: 600px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#story {
  min-height: 10px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

.selectFields {
  display: flex;
  flex-direction: column;
}

.selectFields > * {
  width: 100%;
}
