
  <br><br><br><br>
  <div *ngIf='profile.mentee != null'>
    Welcome mentee
  </div>
  <div *ngIf='profile.mentee === null'>
    Welcome mentor
  </div>
  <div class="dropdown">

  <!--Menu-->
  <div class="dropdown-menu dropdown-primary" *ngFor="let sector of sectors">
    <a class="dropdown-item" href="#">{{ sector.name }}</a>

  </div>
</div>
<select  [(ngModel)]="currentSector" (ngModelChange) = 'getJobBySector()'>
  <option *ngFor="let sector of sectors"  name='currentSector' ngDefaultControl value={{sector.id}}>{{sector.name}}</option>
</select><br>

<select *ngIf="currentSector" [(ngModel)]="jobName" (ngModelChange) = 'setJob()'>
  <option *ngFor="let job of jobsForSector" value={{job.name}} name='job1' ngDefaultControl>{{job.name}}</option>
</select>
<br>
<button
mdbBtn
color="info"
block="true"
class="my-4 text-center btn btn-warning"
type="submit"
(click)="addJobs()"
>
Submit
</button>
<button
mdbBtn
color="info"
block="true"
class="my-4 text-center btn btn-warning"
type="submit"
(click)="editProfile()"
>
Edit Profile
</button>


