.card {
  padding: 20px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.6);
}

.row {
  padding: 60px;
}

.container-fluid {
  width: 100%;
  padding-right: none;
  padding-left: none;
  margin-right: 0px;
  margin-left: 0px;
}

div {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-header {
  padding-top: 35px;
  align-content: center;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.3);
}
