<div class="container-fluid background">
  <div class="row ">
    <div class="col-3"></div>
    <div class="card col-6">
      <div class="card-header text-center">
        <h1 class="h1 mb-4">Sign Up</h1>
      </div>
      <div class="card-body">

        <!-- ---------------------------------------------------------------- -->
        <!-- User Form -->
        <!-- ---------------------------------------------------------------- -->

        <form #editUserForm="ngForm" class="text-center">
          <!-- Email -->
          <input
            type="email"
            id="defaultLoginFormEmail"
            class="form-control mb-4 text-center"
            name="email"
            placeholder="Email"
            ngModel
          />

          <!-- Username -->
          <input
            type="text"
            id="defaultLoginFormPassword"
            class="form-control mb-4 text-center"
            name="username"
            placeholder="Username"
            ngModel
          />

          <!-- Password -->
          <input
            type="password"
            id="defaultLoginFormEmail"
            class="form-control mb-4 text-center"
            name="password"
            placeholder="Password"
            ngModel
          />
        </form>

        <!-- ---------------------------------------------------------------- -->
        <!-- Profile Form -->
        <!-- ---------------------------------------------------------------- -->

        <form #editProfileForm="ngForm" class="text-center">
          <!-- First Name -->
          <input
            type="text"
            id="defaultLoginFormEmail"
            class="form-control mb-4 text-center"
            name="firstName"
            placeholder="First Name"
            ngModel
          />

          <!-- Last Name -->
          <input
            type="text"
            id="defaultLoginFormPassword"
            class="form-control mb-4 text-center"
            name="lastName"
            placeholder="Last Name"
            ngModel
          />

          <!-- Summary -->
          <input
            type="text"
            id="defaultLoginFormPassword"
            class="form-control mb-4 text-center"
            name="summary"
            placeholder="Summary"
            ngModel
          />

          <!-- Picture Url -->
          <input
            type="text"
            id="defaultLoginFormPassword"
            class="form-control mb-4 text-center"
            name="pictureUrl"
            placeholder="Picture Url"
            ngModel
          />

          <!-- Resume Url -->
          <input
            type="text"
            id="defaultLoginFormPassword"
            class="form-control mb-4 text-center"
            name="resumeUrl"
            placeholder="Resume Url"
            ngModel
          />
        </form>

        <!-- ---------------------------------------------------------------- -->
        <!-- Location Form -->
        <!-- ---------------------------------------------------------------- -->

        <form #editLocationForm="ngForm" class="text-center">
          <!-- City -->
          <input
            type="text"
            id="defaultLoginFormEmail"
            class="form-control mb-4 text-center"
            name="city"
            placeholder="City"
            ngModel
          />

          <!-- State -->
          <input
            type="text"
            id="defaultLoginFormPassword"
            class="form-control mb-4 text-center"
            name="state"
            placeholder="State"
            ngModel
          />

          <!-- Zip -->
          <input
            type="text"
            id="defaultLoginFormEmail"
            class="form-control mb-4 text-center"
            name="zip"
            placeholder="Zip"
            ngModel
          />
        </form>

        <div class="d-flex justify-content-around text-center"></div>

        <!-- Sign in button -->
        <div class="text-center subDiv">
          <button
            mdbBtn
            color="info"
            block="true"
            class="my-4 text-center btn btn-warning"
            type="submit"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
