/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.background {
  width: 100%;
  height: 100vh;
  background: url('assets/helmet.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  background-position: relative;
  background-attachment: fixed;
  overflow: scroll;
}
#about {
  background: url('assets/about.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  background-position: relative;
  background-attachment: fixed;
  overflow: scroll;
}

#menteeProfileBackground {
  width: 100%;
  height: 100vh;
  background: url('assets/helmet.jpg') no-repeat;
  background-size: cover;
  background-position: relative;
  background-attachment: fixed;
  overflow: scroll;
}

.overlay-mf {
  background-color:oldlace;
  position: absolute;
  top: 66px;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .3;
}



