.card {
  background-color: oldlace;
  /* opacity: .2;*/
    background: rgba(255, 252, 252, 0.3);
}

.card-body {
  color: white;
  border: none;
}

.card-header {
  color: white;
}

.caro {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#reviewText {
  font-family: cursive;
  color: white;
}
