<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id='backgroundColor'>
  <div class='container-fluid' id='backgroundImg'>
  <div class='row'>
  <div class='text-center background'  style='padding: 20px 0px 0px 0px'>
      <div id='homeHeader'><img src='http://ec2-54-214-129-164.us-west-2.compute.amazonaws.com/img/vetdLogo.png'>
        <h2>Veterans helping veterans</h2>
        <h4 style='padding: 30px 0px 0px 0px; color:#ffc107'><em>Start blazing your transition path today!</em></h4>
      </div>
  <div class='row' style='margin:5%'>
    <div class='col-sm-1 col-md-2 col-lg-2'></div>
    <div class='col-sm-5 col-md-4 col-lg-4'>
      <div style='padding: 10px 0px 0px 0px'>
      <div class='card border-0' id='signupCard'>
        <div class='card-body'>
          <h3>BE A MENTOR</h3>
          <p>Share your journey and experience with fellow veterans.</p>
          <button class='btn btn-warning' (click)="addMentor()">Sign up</button>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-5 col-md-4 col-lg-4' >
    <div style='padding: 10px 0px 0px 0px'>
    <div class='card border-0' id='signupCard'>
      <div class='card-body'>
        <h3>FIND A MENTOR</h3>
        <p>Gain insight from those who have gone before you.</p>
        <button class='btn btn-warning' (click)="addMentee()">Sign up</button>
      </div>
    </div>
  </div>
  </div>
  <div class='col-sm-1 col-md-2 col-lg-2'></div>
</div>
<!-- <div class='container'>
    <div class='row'>
        <div class='col-sm-1 col-md-2'></div>
        <div class='col-sm-5 col-md-8 col-lg-12'>
          <div style='padding: 10px 0px 0px 0px'>
          <div class='card border-0' id='signupCard'>
            <div class='card-body' style='font-size: 3rem'>
              <p><em>Start blazing your transition path today!</em></p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-1 col-md-2'></div>
    </div> -->
</div>
</div>
</div>
<div id='about'>
<div class="container" >
  <div class="row" id='reviewCarousel'>
      <div class="col-md-12 py-3">
        <ngb-carousel *ngIf="reviewList"  id='reviewRow'>
          <ng-template ngbSlide *ngFor="let review of reviews">
            <img [src]="review.img" alt="Reviews" id='reviewImg'>
            <div class="carousel-caption">
              <div class='container'>
                  <div class="card" id='reviewCard'>
                    <div class='card-body center' style='color: black'>
                      <h3><em>{{ review.reviewTitle }}</em></h3>
                      <p style='font-family: cursive; font-size: 1.75rem'>{{review.reviewText}}<br>
                      <span><ngb-rating [rate]="review.reviewStars" max="5" readonly=true style='color:#ffc107'></ngb-rating></span></p>
                    </div>
                  </div>
                </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

<div class='container'>
<div class='row' id='aboutRow'>
  <div class='col-sm-1 col-md-1 col-lg-2'></div>
  <div class='col-sm-5 col-md-5 col-lg-8'>
  <div class='container-fluid'>
    <div class='card shadow' id='aboutCard'>
      <div class='card-body text-center'>
          <h2><em>About</em></h2>
        <p style='color:darkgoldenrod; font-size: 1.5rem'><em>We help transitioning military veterans connect with veteran subject matter experts who have successfully navigated the transition journey.</em></p>
        <blockquote>VETd was founded by veterans who discovered that the career transition journey was far more challenging than it should be.

          Whether you have already been released from active, guard, or reserve duty or are otherwise nearing the end of your service, you can count on VETd services. Connecting successful veterans with transitioning vertans.</blockquote>
      </div>
    </div>
  </div>
</div>
  <div class='col-sm-6 col-md-6 col-lg-2'></div>
</div>
</div>
</div>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <div id='socialIcon'>
          <a class="icon" id='github' href='http://github.com/robrides' target='_blank'>
              <svg class='icon' style="width:28px;height:28px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
              </svg>
          </a>
          </div>
        </li>
        <li class="list-inline-item">
            <div id='socialIcon'>
          <a class="icon" id='github' href='http://github.com/randybeach' target='_blank'>
              <svg class='icon' style="width:28px;height:28px" viewBox="0 0 24 24" >
                  <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
              </svg>
          </a>
          </div>
        </li>
        <li class="list-inline-item">
          <div id='socialIcon'>
          <a class="icon" id='github' href='http://github.com/alexaveigel' target='_blank'>
              <svg class='icon' style="width:28px;height:28px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
              </svg>
          </a>
        </div>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> VETd</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
