.card {
  background-color: transparent;
}

.card-body {
  color: white;
  border: none;
}

.card-header {
  color: white;
}

.caro {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#reviewText {
  font-family: cursive;
  color: white;
}
