#signupCard {
  background-color: oldlace;
  /* opacity: .2;*/
    background: rgba(255, 252, 252, 0.3);
}

#signupCard {
  color: white;
  border: none;
}

#reviewText {
  font-family: cursive;
  color: white;
}

#backgroundColor {
  background-color: rgb(62, 67, 73);
}

#reviewImg {
  height: 200px;
  border-radius: 40%;
  width: 100%;
  opacity: .05;
}

#aboutRow {
  padding: 60px 0px 100px 0px;
  color: black;
}

#homeHeader {
  color: white;
}

#aboutCard {
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
}
