#menteeJobs {
  height: 150px;
  overflow: scroll;
}

#menteeChat {
  height: 550px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#menteeProfile {
  height: 550px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#closeIcon {
  color: slategray
}

#menteeInteractions {
  height: 220px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#menteeStatus {
  height: 200px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#profileCardStyling {
  height: 650px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

img {
  width: auto;
  margin:0 auto;
  max-height: 150px;
}

#reviewProfile:hover {
  color: rgb(22, 221, 228);
}
