<!-- <h1 mat-dialog-title>Hi {{data.profile.firstName}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.profile.location.city">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.profile.lastName" cdkFocusInitial>Ok</button>
</div> -->

<div class="container-fluid">
  <div class="overlay-mf"></div>
  <div class="row">
    <div class="float-right col-12">
      <span
        ><i
          class="material-icons float-right"
          ngbTooltip="Close"
          id="closeIcon"
          (click)="onNoClick()"
          >close</i
        ></span
      >
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-sm-5 col-md-3 col-lg-3 mt-4">
      <div class="card shadow" id="profileCardStyling">
        <img
          class="card-img-top rounded-circle img-responsive img-center mt-2 mb-2"
          [src]="profile.pictureUrl"
          alt="Profile Picture"
        />
        <div class="card-header text-center">
          <h6 class='pt-2'>
            {{ profile.firstName }} {{ profile.lastName }}
            <span
              ><i
                class="material-icons float-right mr-2"
                ngbTooltip="Leave a review"
                id="reviewProfile"
                >rate_review</i
              ></span
            >
          </h6>
        </div>
        <div class="card-body">
          <b>Email:</b> {{ profile.user.email }}<br />
          <b>Location:</b> {{ profile.location.city }},
          {{ profile.location.state }} {{ profile.location.zipcode }}<br />
          <a href='{{ profile.resumeUrl }}'><b>Resume</b></a> <br />
        </div>
        <div class="card-footer">
          <div class="text-center">
            <u><b>Job Interests</b></u>
          </div>
        </div>
        <div
          class="card-footer"
          id="menteeJobs"
          *ngIf="data.profile.mentee != null"
        >
          <div class="pt-1" *ngIf="jobs.length > 0">
            <ul>
              <div *ngFor="let job of jobs" ngDefaultControl>
                <div *ngFor="let job of jobs">
                  <li>{{ job.name }}</li>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-2 col-lg-3 mt-4">
      <div class="card shadow" id="menteeStatus">
        <div class="card-header text-center" *ngIf='myProfile'>
          <h6 class='pt-2'><b>Currently Mentoring</b></h6>
        </div>
        <div class="card-body">
          <p>Sector / Job Matches</p>
        </div>
      </div>
      <div class="text-center">

        <div class="text-center" *ngIf='! myProfile'>
          <button class="btn btn-sm btn-success mr-1 mt-1" (click)="addMenteeToMentorMenteeList(profile)">Accept</button>
          <button class="btn btn-sm btn-danger mt-1">Decline</button>
        </div>
        <div *ngIf='myProfile'>
          <button class="btn btn-sm btn-primary mr-1 mt-1" (click)="removeMentee(profile)">Release</button>
          <button class="btn btn-sm btn-success mt-1" (click)='chat()'>Chat</button>
       </div>
       <div class="card-body" *ngIf='showChat'>
          <form #messageForm="ngForm">
            <mat-form-field class="selectFields text-center">
              <textarea
                matInput
                name="content"
                [(ngModel)]="message.text"
              ></textarea
              ><mat-placeholder class="placeholder"
                >Message</mat-placeholder
              >
            </mat-form-field>

            <br />
            <input class="btn btn-warning " type="submit" value="Submit" (click)='submitMessage()' />
          </form>
        </div>
        <div class="mt-2">
          <div class="card shadow" id="menteeInteractions" *ngIf='myProfile'>
            <div class="card-header text-center">
              <h6 class='pt-2'><b>History</b></h6>
            </div>
            <div class="card-body text-left">
              <div *ngFor="let ment of mentees">
                <p>{{ ment.createdAt | date: "shortDate" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 mt-4">
      <div class="card shadow" id="menteeChat">
        <div class="card-header text-center">
          <h6 class='pt-2'><b>Chat</b></h6>
        </div>
        <div class="card-body py-2" id="scroll" style='font-size: .7rem'>
          <p>
            Appears only when chat initiated.<br />
            Role - First Last Date/Timestamp: Message…<br />
            Role - First Last Date/Timestamp: Message…<br />
            Role - First Last Date/Timestamp: Message…<br />
            Role - First Last Date/Timestamp: Message…<br />
            .<br />
            .<br />
            .<br />
            .<br />
            .<br />
            .<br />
            .<br />
            .<br />
            .
          </p>
        </div>
      </div>
      <div class="card shadow mt-2" id='reviewCard'>
        <div class="card-header text-center">
          <h6 class='pl-2 pt-2'><b>Review</b>
            <span><i class="material-icons float-right" id="add" ngbTooltip="Leave a review" >add</i></span>
          </h6>
        </div>
        <div class="card-body text-center" id="reviewCardBody">
          <form #reviewForm="ngForm">
            <span><mat-slider thumbLabel tickInterval="1" min="1" max="5"></mat-slider>
            </span>
            <mat-form-field class="selectFields text-center">
                <mat-label>Summary</mat-label>
              <textarea matInput name="content" [(ngModel)]="review.content" id='textarea'>
              </textarea>
              <!-- <mat-placeholder class="placeholder">Summary</mat-placeholder> -->
            </mat-form-field>
            <br>
            <mat-form-field class="selectFields text-center">
              <input matInput name="rating" [(ngModel)]="review.rating" />
              <mat-placeholder class="placeholder" >Rating(1-5)</mat-placeholder
              >
            </mat-form-field>
            <br />
            <!-- <input class="btn btn-warning " type="submit" value="Submit" /> -->
            <span
              ><i
                (click)="addReview(reviewForm)"
                class="material-icons float-center text-center" id="add"
                ngbTooltip="Leave a review"
                >add</i
              ></span
            >
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-11 col-md-11 col-lg-11 mt-2 ml-4">
      <div class="card shadow" id="menteeStory">
        <div class="card-body">
          <h4>Story</h4>
          <p>{{ profile.mentee.story }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
