<!-- <h1 mat-dialog-title>Hi {{data.profile.firstName}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.profile.location.city">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.profile.lastName" cdkFocusInitial>Ok</button>
</div> -->

<div class='container-fluid' >
    <div class='overlay-mf'></div>
    <div class='row'>
      <div class='float-right col-12'><span><i class="material-icons" ngbTooltip="Close" id='closeIcon' (click)='onNoClick()'>close</i></span></div>
    </div>
      <div class='row'>
      <div class='col-sm-5 col-md-5 col-lg-5 mt-4'>
            <div class='card shadow' id='menteeProfile'>
              <img class="card-img-top" [src]="data.profile.pictureUrl" alt="Mentee Profile Picture" style='min-height: 200px'>
              <div class='card-header text-center'>
                <b>{{ data.profile.firstName }} {{ data.profile.lastName }}</b>
              </div>
              <div class='card-body'>
                  <b>Username:</b> {{ data.profile.user.username }}<br>
                  <b>Email:</b> {{ data.profile.user.email }}<br>
                  <b>Location:</b> {{ data.profile.location.city }}, {{ data.profile.location.state }} {{ data.profile.location.zipcode }}<br>
                  <b>Picture:</b> {{ data.profile.pictureUrl }}<br>
                  <b>Resume:</b> {{ data.profile.resumeUrl }}<br>
              </div>
              <div class='card-footer'>
                <div class='text-center'><u><b>Job Interests</b></u></div>
            </div>
              <div class='card-footer' id='menteeJobs'>
                <div class='pt-1' *ngIf='data.profile.mentee.jobs.length > 0'>
                  <ul>
                  <div *ngFor="let job of data.profile.mentee.jobs" ngDefaultControl>
                    <li>{{job.name}}</li>
                  </div>
                </ul>
                </div>
              </div>
              </div>
            </div>
        <div class='col-sm-3 col-md-2 col-lg-3 mt-4'>
            <div class='card shadow' id='menteeStatus'>
                <div class='card-header text-center'>
                  <b>Mentoring Status</b>
                </div>
                <div class='card-body'>
                  <p>Sector / Job Matches </p>
              </div>
        </div>
        <div class='text-center'>
        <button class='btn btn-success mr-1 mt-1'>Accept</button>
        <button class='btn btn-danger mt-1'>Decline</button>
        <button class='btn btn-primary mr-1 mt-1'>Release</button>
        <button class='btn btn-success mt-1'>Chat</button>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">No Thanks</button>
        </div>
        <div class='mt-2'>
          <div class='card shadow' id='menteeInteractions'>
            <div class='card-header text-center'>
              <b>Interactions</b>
            </div>
            <div class='card-body text-left'>
              <p>Date/Time </p>
            </div>
          </div>
        </div>
      </div>
      </div>
        <div class='col-sm-3 col-md-3 col-lg-3 mt-4'>
            <div class='card shadow' id='menteeChat'>
              <div class='card-header text-center'>
                <h4>Chat window</h4>
              </div>
              <div class='card-body' id='scroll'>
                  <p>Appears only when chat initiated.<br>
                      Role - First Last Date/Timestamp: Message…<br>
                      Role - First Last Date/Timestamp: Message…<br>
                      Role - First Last Date/Timestamp: Message…<br>
                      Role - First Last Date/Timestamp: Message…<br>
                      .<br>
                      .<br>
                      .<br>
                      .<br>
                      .<br>
                      .<br>
                      .<br>
                      .<br>
                      .</p>
            </div>
          </div>
        </div>
    </div>

    <div class='row'>
      <div class='col-sm-11 col-md-11 col-lg-11 mt-2 ml-4'>
        <div class='card shadow' id='menteeStory'>
          <div class='card-body'>
            <h4>Story</h4>
            <p>This is the mentee's story</p>
          </div>
        </div>
      </div>
    </div>
</div>

