#menteeJobs {
  height: 150px;
  overflow: scroll;
}

#menteeChat {
  height: 350px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#menteeProfile {
  height: 450px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#closeIcon {
  color: slategray
}

#menteeInteractions {
  height: 220px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#menteeStatus {
  height: 200px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

#profileCardStyling {
  height: 550px;
  background-color: oldlace;
  background: rgba(255, 252, 252, 0.7);
  color: black;
}

img {
  width: auto;
  margin:0 auto;
  max-height: 150px;
  max-width: 150px;
}

#reviewProfile:hover {
  color: rgb(22, 221, 228);
}

.selectFields {
  display: flex;
  flex-direction: column;
}

#reviewCard {
  height: 200px;
  padding: 0px;
}

#reviewCardBody {
  color: black !important;
  overflow: scroll;
}

mat-placeholder {
  color: black !important;
}

#add:hover{
  color: green;
}

mat-slider {
  width: 150px;
}

mat-slider:hover {
  background-color: lightgray;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: black;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: black;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: black;
}

::ng-deep .mat-label .textarea .mat-form-field {
  background-color: black;
}

textarea {
  min-height: 40px;
}
