<!-- <div class="container-fluid background">
  <div class="row ">
    <div class="col-sm-1 col-md-3 col-lg-4"></div>
    <div class="card col-sm-10 col-md-6 col-lg-4">
      <div class="card-header text-center">
        <h1 class="h1 mb-4">Login</h1>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm">
          <input
            class="form-control mb-4 text-center"
            type="text"
            name="username"
            placeholder="Username"
            [(ngModel)]="user.username"
          />
          <input
            class="form-control mb-4 text-center"
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="user.password"
          />
          <input
            class="btn btn-warning btn-sm"
            type="submit"
            value="Login"
            (click)="login(loginForm)"
          />
        </form>
      </div>
    </div>
    <div class="col-sm-1 col-md-3 col-lg-4"></div>
  </div>
</div>

<div class="example-container"></div> -->

<div class="container-fluid background">
  <div class="row ">
    <div class="col-sm-1 col-md-3 col-lg-4"></div>
    <div class="card col-sm-10 col-md-6 col-lg-4">
      <div class="card-header text-center">
        <h1 class="h1 mb-4">Login</h1>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm">
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              name="username"
              [(ngModel)]="user.username"
            /><mat-placeholder class="placeholder">Username</mat-placeholder>
          </mat-form-field>
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              type="password"
              name="password"
              [(ngModel)]="user.password"
            /><mat-placeholder class="placeholder">Password</mat-placeholder>
          </mat-form-field>
          <br />
          <input
            class="btn btn-warning"
            type="submit"
            value="Login"
            (click)="login(loginForm)"
          />
        </form>
      </div>
    </div>
    <div class="col-sm-1 col-md-3 col-lg-4"></div>
  </div>
</div>
