<div class="container-fluid background">
  <div class="row ">
    <div class="col-3"></div>
    <div class="card col-6">
      <div class="card-header text-center">
        <h1 class="h1 mb-4">Edit Profile</h1>
      </div>
      <div class="card-body">
        <!-- ---------------------------------------------------------------- -->
        <!-- User Form -->
        <!-- ---------------------------------------------------------------- -->
        <!-- <form class="text-center"> -->
        <!-- Email -->
        <!-- <input
            type="email"
            id="defaultLoginFormEmail"
            class="form-control mb-4 text-center"
            name="email"
            placeholder="Email"
            [(ngModel)]="editProfile.user.email"
          /> -->
        <!-- </form> -->

        <!-- ---------------------------------------------------------------- -->
        <!-- Vet Form -->
        <!-- ---------------------------------------------------------------- -->
        <!-- <form class="text-center"> -->
        <!-- Story -->
        <!-- <input
            type="text"
            id="defaultLoginFormEmail"
            class="form-control mb-4 text-center"
            name="story"
            placeholder="Background Story"
            [(ngModel)]="editProfile.mentee.story"
          />
        </form> -->

        <!-- ---------------------------------------------------------------- -->
        <!-- Profile Form -->
        <!-- ---------------------------------------------------------------- -->

        <form class="text-center">
          <!-- First Name -->
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              id="defaultLoginFormEmail"
              name="firstName"
              [(ngModel)]="editProfile.firstName"
            /><mat-placeholder class="placeholder">First Name</mat-placeholder>
          </mat-form-field>
          <br />
          <!-- Last Name -->
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              id="defaultLoginFormEmail"
              name="lastName"
              [(ngModel)]="editProfile.lastName"
            /><mat-placeholder class="placeholder">Last Name</mat-placeholder>
          </mat-form-field>
          <br />

          <!-- Summary -->
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              id="defaultLoginFormEmail"
              name="summary"
              [(ngModel)]="editProfile.summary"
            /><mat-placeholder class="placeholder">Summary</mat-placeholder>
          </mat-form-field>
          <br />

          <!-- Picture Url -->
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              id="defaultLoginFormEmail"
              name="pictureUrl"
              [(ngModel)]="editProfile.pictureUrl"
            /><mat-placeholder class="placeholder">Picture Url</mat-placeholder>
          </mat-form-field>
          <br />

          <!-- Resume Url -->
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              id="defaultLoginFormEmail"
              name="resumeUrl"
              [(ngModel)]="editProfile.resumeUrl"
            /><mat-placeholder class="placeholder">Resume Url</mat-placeholder>
          </mat-form-field>
          <br />
        </form>

        <!-- ---------------------------------------------------------------- -->
        <!-- Location Form -->
        <!-- ---------------------------------------------------------------- -->

        <form class="text-center">
          <!-- City -->
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              id="defaultLoginFormEmail"
              name="city"
              [(ngModel)]="editProfile.location.city"
            /><mat-placeholder class="placeholder">City</mat-placeholder>
          </mat-form-field>
          <br />

          <!-- State -->
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              id="defaultLoginFormEmail"
              name="state"
              [(ngModel)]="editProfile.location.state"
            /><mat-placeholder class="placeholder">State</mat-placeholder>
          </mat-form-field>
          <br />

          <!-- Zip -->
          <mat-form-field class="selectFields text-center">
            <input
              matInput
              id="defaultLoginFormEmail"
              name="zipcode"
              [(ngModel)]="editProfile.location.zipcode"
            /><mat-placeholder class="placeholder">Zip</mat-placeholder>
          </mat-form-field>
          <br />
        </form>

        <div class="d-flex justify-content-around text-center"></div>

        <!-- Sign in button -->
        <div class="text-center subDiv">
          <button
            mdbBtn
            color="info"
            block="true"
            class="my-4 text-center btn btn-warning"
            type="submit"
            (click)="updateProfile(editProfile)"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
